<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Волонтерская платформа</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body>
<header class="site-header">
    <a href="{{ url_for('index') }}" class="site-logo">Волонтёриум</a>
    <img src='static/images/img.png' alt="несмешная картинка" class="logo">
    <nav class="header-actions" aria-label="Основная навигация">
        <a href="{{ url_for('register') }}" class="header-link header-register">Регистрация</a>
        <a href="{{ url_for('login') }}" class="header-link header-login">Войти</a>
    </nav>
</header>
<section class="hero-banner">
    <img src="{{ url_for('static', filename='images/banner.png') }}" alt="Главный баннер">
    <div class="hero-overlay">
        <div class="hero-title">Волонтёриум</div>
        <p class="hero-subtitle">Платформа для волонтеров, организаторов и добрых дел</p>
    </div>
</section>
    {% block content %}
    {% endblock %}
<footer id="main-footer">
<div>
    <h3>Почта</h3>
    <h4>strategy@strategy48.ru</h4>
</div>
<div>
    <h3>Горячая линиия</h3>
    <h4>+7 (474) 256-61-06</h4>
</div>
<div>
    <h3>Адрес</h3>
    <h4>ул. 40 лет Октября, 39, Липецк.</h4>
</div>
</footer>
</main>
</body>
</html>
