<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
{% if error %}
        <div style="color: red; margin-bottom: 10px;">
            {{ error }}
        </div>
    {% endif %}
<form method="POST">
    {{ form.csrf_token }}
    {{ form.email.label }}<br>
    {{ form.email() }}<br><br>
    {{ form.password.label }}<br>
    {{ form.password() }}<br><br>
    {{ form.remember_me.label }}<br>
    {{ form.remember_me() }}<br><br>
    {{ form.submit() }}
</form>
</body>
</html>