<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тест регистрации</title>
</head>
<body>
{% if error %}
<div style="color: red; margin-bottom: 10px;">
    {{ error }}
</div>
{% endif %}
<form method="POST">
    {{ form.csrf_token }}
    {{ form.email.label }}<br>
    {{ form.email() }}<br><br>

    {{ form.phone_number.label }}<br>
    {{ form.phone_number() }}<br><br>

    {{ form.password.label }}<br>
    {{ form.password() }}<br><br>

    {{ form.password_again.label }}<br>
    {{ form.password_again() }}<br><br>

    {{ form.name.label }}<br>
    {{ form.name() }}<br><br>
    {% if form.birth_date %}
        {{ form.birth_date.label }}<br>
        {{ form.birth_date() }}<br><br>
    {% endif %}
    {{ form.info.label }}<br>
    {{ form.info() }}<br><br>
    {% if form.address %}
        {{ form.address.label }}<br>
        {{ form.address() }}<br><br>
    {% endif %}

    {{ form.submit() }}
</form>
</body>
</html>